* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.countersection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resetbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
}

.moins,
.plus {
  background-color: white;
  border: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 60px;
  width: 80px;
  text-align: center;
}

.counter {
  display: flex;
  font-size: 30px;
  color: white;
  background-color: #5c48d3;
  height: 91px;
  width: 91px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 70px;
  border-bottom: 1px solid lightgrey;
}

.reset {
  background-color: #5c48d3;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  width: 91px;
  height: 36px;
}
.vide {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  width: 80px;
  border: none;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
